body{
background-image: url(img.jpg);
background-repeat: no-repeat;
background-size: 100%;
}

h1{ 
    text-align: center;
    padding-top: 3px;
    font-size: 40px;
    font-style: italic;
}

.instrucoes{
    text-align: center;
    font-size: 20px;
}

.botao{
    text-align: center;
	
}

